# PSM Test for the ABIDE dataset
Implementing Hien's suggestions as follows:

Next, in each of the matched data sets, sort the rows by
*match*. The smaller the *match* value, the more closely
matched the observations are. Now, delete the group of 
largest *match* rows as you require for data sufficient data
reduction and matching. Delete the same proportion from each
group to ensure a balanced design.

In [1]:
### Load python libraries
import os
import numpy as np
import pandas as pd
import rpy2.robjects as robjects
from matplotlib import pyplot as plt

In [2]:
%matplotlib inline

In [3]:
pheno_path = '/data1/abide/Pheno/full_merged_pheno.csv'
proj_name = 'abide_site'

In [4]:
pheno = pd.read_csv(pheno_path)

In [5]:
# Prepare the pheno file
pheno = pheno[pheno['SEX']==1]
include = ['USM', 'NYU', 'UCLA_1', 'UCLA_2']
pheno = pheno[pheno['SITE_ID'].isin(include)]

In [6]:
def split_pheno(pheno, var, val, out_path):
    """
    get pheno for var == val and dump to out_path
    """
    out_pheno = pheno[pheno[var] == val]
    out_name = 'pheno_{}_{}_split.csv'.format(var, val)
    save_path = os.path.join(out_path, out_name)
    out_pheno.to_csv(save_path)
    
    return save_path

In [7]:
def site_psm(in_file, site_name, out_path):
    """
    Make within site PSM
    """
    work_dir = out_path
    CSV_file =  in_file
    out_name = "{}_psm.csv".format(site_name)
    categories = robjects.StrVector(['DX_GROUP'])
    Mah_formula = 'DX_GROUP ~ AGE_AT_SCAN + FD_scrubbed' 
    cal_width = 20
    PSM_formula = 'DX_GROUP ~ AGE_AT_SCAN + FD_scrubbed'
    
    robjects.globalenv["work_dir"] = work_dir
    robjects.globalenv["CSV_file"] = CSV_file
    robjects.globalenv["categories"] = categories
    robjects.globalenv["Mah_formula"] = Mah_formula
    robjects.globalenv["cal_width"] = cal_width
    robjects.globalenv["PSM_formula"] = PSM_formula
    robjects.globalenv["out_name"] = out_name

    robjects.r('''
      # Load R Librarires
      library(optmatch)

      # Set Working directory
      setwd(work_dir)

      # Read CSV
      data <- read.csv(CSV_file)

      # Make all categories factors
      for (ff in 1:length(categories)) {
        data[[categories[ff]]] <- as.factor(data[[categories[ff]]])
      }

      # Performs Matching
      Matching <- fullmatch(
      match_on( as.formula(Mah_formula),
               data = data ) + 
        caliper( match_on( as.formula(PSM_formula), 
                         data = data ),
                width = cal_width ),
      data = data )

      # Make a data frame with a column with 1 to keep an observation and 0 to leave out
      save_data <- cbind(data,match=Matching)
      save_data$keep <- as.numeric(!is.na(save_data$match))
      write.csv(save_data,file=paste('matching_',out_name,sep=''))
    ''')
    
    return os.path.join(out_path, 'matching_{}'.format(out_name))

In [8]:
# Split the pheno file into separate files
split_dict = dict()
for site in list(pheno['SITE_ID'].unique()):
    print(site)
    tmp = split_pheno(pheno, 'SITE_ID', site, '/data1/abide/Pheno/')
    split_dict[site] = site_psm(tmp, site, '/data1/abide/Pheno/')

NYU
UCLA_1
UCLA_2
USM

/home/surchs/Venv/serv2/lib/python2.7/site-packages/rpy2/robjects/functions.py:106: UserWarning: Loading required package: survival

  res = super(Function, self).__call__(*new_args, **new_kwargs)
/home/surchs/Venv/serv2/lib/python2.7/site-packages/rpy2/robjects/functions.py:106: UserWarning: The optmatch package has an academic license. Enter relaxinfo() for more information.

  res = super(Function, self).__call__(*new_args, **new_kwargs)

In [9]:
# Recombine the csv files
data = pd.DataFrame()
for site in split_dict.keys():
    d2 = pd.read_csv(split_dict[site])
    data = pd.concat([data, d2])

In [10]:
data

,Unnamed: 0,X,SITE_ID,SUB_ID,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,SEX,HANDEDNESS_CATEGORY,HANDEDNESS_SCORES,...,AGE_AT_MPRAGE,BMI,frames_scrubbed,frames_OK,FD,FD_scrubbed,ADOS_SOCOM_SEV,ADOS_STBEH_SEV,match,keep
0,1,696,UCLA_2,51291,1,1,16.4700,1,R,NaN,...,16.63,NaN,8,112,0.153825,0.135741,6.0,5.0,1.10,1
1,2,697,UCLA_2,51292,1,1,12.2400,1,R,NaN,...,12.24,NaN,80,40,1.005779,0.205233,NaN,NaN,1.50,1
2,3,698,UCLA_2,51293,1,1,13.0800,1,R,NaN,...,13.08,NaN,0,120,0.114250,0.114250,NaN,NaN,1.90,1
3,4,699,UCLA_2,51294,1,1,11.7000,1,R,NaN,...,12.06,NaN,41,79,0.376118,0.192170,7.0,7.0,1.30,1
4,5,700,UCLA_2,51295,1,1,10.0400,1,L,NaN,...,10.33,NaN,32,88,0.281112,0.208634,NaN,NaN,1.40,1
5,6,701,UCLA_2,51296,1,1,11.1600,1,R,NaN,...,11.16,NaN,80,40,1.521789,0.427303,NaN,NaN,1.20,1
6,7,702,UCLA_2,51297,1,1,14.2700,1,L,NaN,...,14.27,NaN,78,42,0.558917,0.279952,NaN,NaN,1.20,1
7,8,703,UCLA_2,51298,1,1,10.5700,1,R,NaN,...,10.69,NaN,38,82,0.309270,0.206249,NaN,NaN,1.10,1
8,9,704,UCLA_2,51299,1,1,14.7700,1,R,NaN,...,14.77,NaN,49,71,0.645691,0.166244,NaN,NaN,1.80,1
9,10,705,UCLA_2,51300,1,1,14.0800,1,L,NaN,...,14.08,NaN,80,40,1.283017,0.177643,7.0,5.0,1.70,1
10,11,706,UCLA_2,51301,1,1,13.2800,1,R,NaN,...,13.28,NaN,37,83,0.321220,0.150573,NaN,NaN,1.11,1
11,12,707,UCLA_2,51302,1,1,10.8500,1,R,NaN,...,10.85,NaN,38,82,0.287337,0.182888,NaN,NaN,1.60,1
12,13,709,UCLA_2,51304,2,0,10.5300,1,R,NaN,...,10.53,NaN,55,65,0.523531,0.152964,NaN,NaN,1.10,1
13,14,711,UCLA_2,51306,2,0,11.6600,1,R,NaN,...,11.66,NaN,31,89,0.288574,0.241885,NaN,NaN,1.20,1
14,15,712,UCLA_2,51307,2,0,12.1500,1,R,NaN,...,12.15,NaN,35,85,0.264005,0.165814,NaN,NaN,1.30,1
15,16,713,UCLA_2,51308,2,0,9.7900,1,R,NaN,...,10.08,NaN,4,116,0.110524,0.103817,NaN,NaN,1.40,1
16,17,714,UCLA_2,51309,2,0,11.9000,1,R,NaN,...,11.93,NaN,30,90,0.282566,0.193787,NaN,NaN,1.50,1
17,18,715,UCLA_2,51311,2,0,11.9500,1,R,NaN,...,11.95,NaN,0,120,0.103897,0.103897,NaN,NaN,1.60,1
18,19,716,UCLA_2,51312,2,0,12.9000,1,R,NaN,...,12.90,NaN,29,91,0.241902,0.174034,NaN,NaN,1.70,1
19,20,717,UCLA_2,51313,2,0,13.3600,1,R,NaN,...,13.36,NaN,0,120,0.131950,0.131950,NaN,NaN,1.80,1
20,21,718,UCLA_2,51314,2,0,13.1200,1,R,NaN,...,13.12,NaN,19,101,0.273282,0.098919,NaN,NaN,1.90,1
21,22,719,UCLA_2,51315,2,0,13.6300,1,R,NaN,...,13.63,NaN,8,112,0.137538,0.122574,NaN,NaN,1.10,1
22,23,720,UCLA_2,51316,2,0,12.6600,1,L,NaN,...,12.66,NaN,11,109,0.202045,0.145794,NaN,NaN,1.11,1
23,24,721,UCLA_2,51317,1,1,12.8200,1,R,NaN,...,12.82,NaN,7,113,0.215437,0.192226,NaN,NaN,1.70,1
0,1,722,USM,50432,2,0,18.2806,1,NaN,73.33,...,NaN,NaN,19,221,0.188281,0.169059,2.0,1.0,1.10,1
1,2,723,USM,50433,2,0,18.7379,1,NaN,-60.00,...,NaN,NaN,0,240,0.135252,0.135252,1.0,1.0,1.12,1
2,3,724,USM,50434,2,0,18.2615,1,NaN,73.33,...,NaN,NaN,34,206,0.157852,0.108465,1.0,1.0,1.23,1
3,4,725,USM,50435,2,0,16.1040,1,NaN,66.67,...,NaN,NaN,36,204,0.253768,0.137810,1.0,1.0,1.34,1
4,5,726,USM,50436,2,0,13.8097,1,NaN,86.67,...,NaN,NaN,25,215,0.205383,0.188295,1.0,1.0,1.39,1
5,6,727,USM,50437,2,0,14.9432,1,NaN,100.00,...,NaN,NaN,110,130,0.363888,0.185942,1.0,1.0,1.39,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,118,366,NYU,51114,2,0,22.4800,1,NaN,50.00,...,NaN,NaN,13,167,0.187864,0.169913,NaN,NaN,1.19,1
118,119,367,NYU,51115,2,0,22.7600,1,NaN,100.00,...,NaN,NaN,24,156,0.198332,0.181018,NaN,NaN,1.19,1
119,120,368,NYU,51116,2,0,25.3400,1,NaN,91.00,...,NaN,NaN,4,176,0.126446,0.115925,NaN,NaN,1.52,1
120,121,369,NYU,51117,2,0,28.2030,1,NaN,90.00,...,NaN,NaN,8,172,0.135026,0.119000,NaN,NaN,1.22,1
121,122,370,NYU,51118,2,0,29.0200,1,NaN,83.00,...,NaN,NaN,4,176,0.201811,0.196253,NaN,NaN,1.23,1
122,123,371,NYU,51119,2,0,30.7240,1,NaN,81.00,...,NaN,NaN,8,172,0.115515,0.100619,NaN,NaN,1.24,1
123,124,372,NYU,51120,2,0,10.1900,1,NaN,68.00,...,NaN,NaN,4,176,0.167225,0.162492,NaN,NaN,1.25,1
124,125,373,NYU,51121,2,0,10.7400,1,NaN,90.00,...,NaN,20.52,4,176,0.165076,0.154962,NaN,NaN,1.26,1
125,126,374,NYU,51122,2,0,11.9200,1,NaN,100.00,...,NaN,NaN,35,145,0.231361,0.189921,NaN,NaN,1.27,1
126,127,375,NYU,51123,2,0,12.0700,1,NaN,NaN,...,NaN,NaN,45,135,0.237788,0.176355,NaN,NaN,1.57,1
127,128,376,NYU,51124,2,0,12.6700,1,NaN,63.00,...,NaN,NaN,4,176,0.102170,0.093174,NaN,NaN,1.54,1
128,129,377,NYU,51125,2,0,14.7900,1,NaN,60.00,...,NaN,NaN,4,176,0.116184,0.105932,NaN,NaN,1.30,1
129,130,378,NYU,51126,2,0,16.3100,1,NaN,100.00,...,NaN,NaN,31,149,0.255284,0.216417,NaN,NaN,1.31,1
130,131,379,NYU,51127,2,0,16.5500,1,NaN,29.00,...,NaN,NaN,91,89,0.436847,0.171271,NaN,NaN,1.32,1
131,132,380,NYU,51128,2,0,16.8800,1,NaN,68.00,...,NaN,NaN,4,176,0.116374,0.108075,NaN,NaN,1.33,1
132,133,381,NYU,51129,2,0,17.7000,1,NaN,46.00,...,NaN,NaN,12,168,0.205037,0.186266,NaN,NaN,1.51,1
133,134,382,NYU,51130,2,0,19.1300,1,NaN,81.00,...,NaN,NaN,8,172,0.190003,0.182269,NaN,NaN,1.51,1
134,135,383,NYU,51131,2,0,19.7300,1,NaN,68.00,...,NaN,NaN,25,155,0.209790,0.182510,NaN,NaN,1.51,1
135,136,384,NYU,51146,2,0,20.0200,1,NaN,100.00,...,NaN,NaN,5,175,0.147987,0.140063,NaN,NaN,1.37,1
136,137,385,NYU,51147,2,0,20.0400,1,NaN,81.00,...,NaN,NaN,5,175,0.180904,0.173830,NaN,NaN,1.51,1
137,138,386,NYU,51148,2,0,20.3000,1,NaN,73.00,...,NaN,NaN,16,164,0.248065,0.227824,NaN,NaN,1.62,1
138,139,387,NYU,51149,2,0,20.5600,1,NaN,73.00,...,NaN,NaN,35,145,0.261704,0.220838,NaN,NaN,1.62,1
139,140,388,NYU,51150,2,0,22.7700,1,NaN,81.00,...,NaN,NaN,52,128,0.290452,0.249510,NaN,NaN,1.62,1
140,141,389,NYU,51151,2,0,23.0800,1,NaN,48.00,...,NaN,NaN,8,172,0.127633,0.113873,NaN,NaN,1.42,1
141,142,390,NYU,51152,2,0,23.3500,1,NaN,35.00,...,NaN,NaN,4,176,0.158098,0.146764,NaN,NaN,1.18,1
142,143,391,NYU,51153,2,0,26.1700,1,NaN,100.00,...,NaN,NaN,13,167,0.134860,0.115162,NaN,NaN,1.44,1
143,144,392,NYU,51154,2,0,30.0800,1,NaN,100.00,...,NaN,NaN,27,153,0.209548,0.175247,NaN,NaN,1.45,1
144,145,393,NYU,51155,2,0,30.7800,1,NaN,90.00,...,NaN,NaN,8,172,0.128875,0.119590,NaN,NaN,1.22,1
145,146,394,NYU,51156,2,0,21.1500,1,NaN,100.00,...,NaN,NaN,33,147,0.208429,0.163547,NaN,NaN,1.18,1
146,147,395,NYU,51159,2,0,12.8100,1,NaN,100.00,...,NaN,22.04,89,91,0.465504,0.204871,NaN,NaN,1.78,1